<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>mcTech</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">mc</a><a href="/" class="tcolor">T</a><a href="/">ech</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard" class="dashboard">Dashboard</a>

        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      <p>&copy; 2022 <a href="https://github.com/djpdim" target="_blank" rel="noopener noreferrer">djpdim</a> | <a href="https://djpdim.github.io/portofolio/" target="_blank" rel="noopener noreferrer">About</a> | <a href="https://www.linkedin.com/in/dimosthenis-pagkas-b5301aa7" target="_blank" rel="noopener noreferrer">Linkedin</a> | <i class="fa fa-youtube-play" id="youtube" style="font-size:20px;color:red"></i><a class="youtube" href="https://www.youtube.com/user/djpdim/featured" target="_blank" rel="noopener noreferrer">YouTube</a></p>
    </footer>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>